{% extends 'base.html.twig' %}

{% block title %}Mon panier {% endblock %}

{% block body %}
<div class="order-container">

        </div>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Mon panier</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produit</th>
                            <th scope="col">Disponible</th>
                            <th scope="col" class="text-center">Quantité</th>
                            <th scope="col" class="text-right">Prix</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for item in items %}
                        <tr>
                            <td><img src="{{ asset('images/' ~ item.product.image ~ '') }}" alt="{{item.product.name}} "class="shoes"/></td>
                            <td>{{ item.product.name }}</td>
                            <td>En stock</td>
                            <td><input class="form-control" type="text" value="{{item.quantity}}" /></td>
                            <td class="text-right">{{item.product.price}} €</td>
                            <td> 
                            	<a href= "{{ path('order_remove', {'id': item.product.id}) }}">
                            		<button> 
                            			<img src ="{{ asset ('images/poubelle.png') }}" alt="supprimer" height="30" width ="30">
                            			<i class="fa fa-trash"></i>
                            		</button>
                            	</a>
                            </td> 

                        </tr>
                    {% endfor %}
              
                       
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{{total}}€</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                	<a href="/product/catalogue"><button class="btn btn-block btn-light">Continuer mes achats</button></a>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

</div>

    
</div>
{% endblock %}
